.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9999;
}

.barContainer {
  max-width: 86vw;
  background-color: white;
  padding: 10px 10px;
  margin: 20px 10px;
  border-radius: 0.5em;
  text-align: center;

  animation-name: bar;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.21, 0.97);
}

.barContainer label {
  line-break: anywhere;
  width: 100%;
  font-size: 25px;
}

@keyframes bar {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
