.component {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component label {
  font-size: 62px;
  color: #ffffff;
}

.component img {
  width: 132px;
  height: 132px;
  margin: 30px 0px;
}
