.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: scroll;
  padding: 0px 20px;
}

.elementsContainer {
  padding: 40px 0px;
  height: 100%;
  justify-content: flex-start;
}

.titleContainer {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 20px;
}

.textFieldContainer {
  margin: 10px 0px;
}

.textFieldContainer input {
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
}

.textFieldContainer fieldset {
  border: 0;
}

.timerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
}

.timer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.timer label {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px;
  white-space: nowrap;
}

.timer img {
  width: 37px;
  height: 37px;
}

.timerBackgroudColor {
  background-color: #e5a52d;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  margin: 10px;
  border-radius: 100em;
  width: 100%;
}

.buttonContainer button:nth-child(1) {
  background-color: #e5a52d;
  font-weight: bold;
  font-size: 23px;
  width: fit-content;
}
