.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow: scroll;
  padding: 0px 20px;
}

.elementContainer {
  padding: 40px 0px;
  height: 100%;
  justify-content: flex-start;
}

.titleContainer {
  font-size: 47px;
  color: #ffffff;
  text-align: center;
  margin: 20px;
}

.textFieldContainer {
  margin: 10px 0px;
}

.textFieldContainer input {
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
}

.textFieldContainer fieldset {
  border: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  margin: 10px;
  border-radius: 100em;
  width: 100%;
}

.buttonContainer button:nth-child(1) {
  background-color: #e5a52d;
  font-size: 23px;
  width: fit-content;
}

/* second Page */

.successContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successContainer img {
  width: 132px;
  height: 132px;
  margin: 20px 0px;
}

.successContainer label {
  font-size: 47px;
  color: #ffffff;
  text-align: center;
  margin: 10px 0px;
}
