.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: scroll;
  padding: 0px 20px;
  max-width: 500px;
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
  height: 100%;
  justify-content: space-around;
}

.titleContainer {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  margin: 10px;
  border-radius: 100em;
  width: 100%;
}

.buttonContainer button:nth-child(1) {
  background-color: #e5a52d;
  font-weight: bold;
  font-size: 23px;
  width: fit-content;
}

.quizListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.quizContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 0px 10px;
  margin: 6px 0px;
  width: 100%;
  height: 40px;
}

.quizContainer label {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 5px;
}

.quizContainer small {
  margin: 5px;
  color: #ffcd7e;
  font-size: 12px;
}

.textFieldContainer {
  margin: 10px 0px;
}

.textFieldContainer input {
  border: 1px solid #ffffff;
  border-radius: 15px;
  color: #ffffff;
}

.textFieldContainer fieldset {
  border: 0;
}

/* secondPage */

.elementsJustify {
  justify-content: flex-start;
  width: 100%;
}

.titleAlignLift {
  text-align: left;
  margin: 20px 0px 0px 0px;
}

.quizOptionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quizOption {
  width: 48%;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.quizOption label {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
}

.quizOptionPress {
  background-color: #e5a52d;
}

/* thridpage */
